*{
margin:0;
font-family: Arial;
border: border-box;
}
.navbar {
height: 69px;
background-color:#000000;
color: white;
display:flex;
align-items:center;
justify-content:space-evenly;
}
.nav-logo { 
height:65px;
width: 200px;
}
.logo {
background-image: url("imagess/amazon1.jpg");
background-size: cover;
height: 64px;
width: 100%;
}




.popup-location{
width: 600px;
height:600px;
background-color:white;
border-radius: 6px;
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%,-50%)scale(0.1);
z-index:2;
visibility:hidden;
transition:transform 0.4s ,top 0.4s;
}
.open-popup{
visibility:visible;
top: 50%;
transform: translate(-50%,-50%)scale(1);

}
.popup-head{
background-color:#EEEEEE;
border-top-left-radius:6px;
border-top-right-radius:6px;
height:40px;
display:flex;
color:black;
align-items:center;
}
.close-btn {
position:absolute;
right:10px;
top:5px;
width:30px;
height:30px;
background:white;
color:black;;
font-size:30px;
font-weight:600;
line-height:30px;
text-align:center;
border-radius:50%
}
.popup-font{
font-size:10px;
color:#31363F;
margin-left:20px;
margin-top:20px;

}
.address-btn{
width:85%;
height:25px;
margin-top:5px;
background-color:#ffc200;
margin-left:20px;
border:none;
border-radius:5px;
font-size:10px;
}
.popup-location p{
font-size:10px;
margin-left:70px;
margin-top:10px;
}
.input-apply{
margin-left:20px;
margin-top:8px;
}

.btn:hover{
animation:pulsate 1s ease-in-out;
}
@keyframes pulsate {
     8%{
      box-shadow:
      0 0 20px #5ddcff;
      animation:infinite;
      }
      
   }
   
   
.dropdown{
  width:85%;
  height:25px;
  margin-left:20px;
  margin-top:15px;
  
  
  }
.Done{
height:25px;
margin-top:15px;
margin-left:228px;
background-color:#ffc200;
border:none;
border-radius:5px;
}











.border {
border: 1.5px solid transparent;
}
.border:hover {
border: 1.5px solid white;
}
.add-first {
color:#cccccc;
font-size: 0.85rem;
margin-left: 15px;
}
.add-second {
font-size: 1rem;
margin-left: 3px;
}
.add-icon {
display: flex;
align-items: center;
}
.nav-search {
display: flex;
justify-content: space-evenly; 
background-color: pink; 
width: 300px;
height: 40px;
border-radius: 4px;
}
.search-select {
background-color: #f3f3f3;
width: 50px;
text-align: center;
borded-top-left-radius: 4px;
border-bottom-left-radius: 4px;
 border: none;
}
.search-input{
width: 100%;
font-size: 1rem;
border: none
 }
.search-icon{
width: 45px;
display: flex;
justify-content: center;
align-items: center;
font-size:1rem;
background-color:#febd68;
 borded-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.nav-search:hover{
 border:2px solid orange;
 }
.span {
font-size: 0.7rem;
 display: flex;
justify-content: center;
align-items: center;
}
.nav-second{
font-size: 0.85rem;
 font-weight: 700;
 display: flex;
justify-content: center;
align-items: center;
 width:50px;
}
.nav-cart i{
   font-size:30px;
 display: flex;
justify-content: center;
align-items: center;
}
.nav-cart{
   font-size:0.85rem;
 font-weight:700;
}

.panel {
height: 40px;
background-color: #222f3d;
display: flex;
color: white;
align-items: center;
justify-content: space-evenly;
}
.panel-ops p{
display: inline;
margin-left: 15px;
}
.panel-ops {
width: 70%;
font-size: 0.85rem;
}
.panel-deals {
font-size: 0.9rem;
font-weight: 700;
}


.image-slider {
 width: 100%;
 overflow: hidden;
 height 10em;
 position: relative
 }
 #image-slider > * {visibility: hidden; position: absolute;
 top: 0; left: 0; animation: 12s autoplay1 infinite}
 0% {visibility: visible}
 33.33% {visibility: hidden}

 .slider-container {
 display: flex;
 width: 300%; /* Set to three times the width of a single image */
 animation: slide 130s infinite;
 }

 .slider-container img {
 width: 33.33%; /* Set to 100% divided by the number of images */
 height: auto;
 object-fit: cover;
 }
 
 @keyframes slide {
 1.5% { transform: translateX(0); }
 6% { transform: translateX(-33%); }
 10% { transform: translateX(-67%); }
 14% { transform: translateX(-100%); }
 18% { transform: translateX(-133.5%); }
 22% { transform: translateX(-167%); }
 26% { transform: translateX(-200%); }
 30% { transform: translateX(-233.5%); }
 
   }
 }
 
 #slide > *:nth-child(1)
 {animation-delay:2 s}
 #slide > *:nth-child(2)
 {animation-delay:2 s}
 #slide > *:nth-child(3) 
 {animation-delay:2s}
 #slide > *:nth-child(4)
 {animation-delay: 2s}
 #slide > *:nth-child(5)
 {animation-delay:2s}
 #slide > *:nth-child(6) 
 {animation-delay: 2s}
 #slide > *:nth-child(7)
 {animation-delay:2 s}
 #slide > *:nth-child(8) 
 {animation-delay: 2s}



*,
*:before,
*:after {
  box-sizing: border-box;
}

  &::-webkit-scrollbar-thumb {
    background: #383d4d;
    border-radius: 99em;
    border: 6px solid #1e1f26;
  }
}











h1 {
  font-size: clamp(20px, 2.5vw, 36px);
  color: rgba(#fff, 0.8);
  font-weight: 600;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  background-image:cover;
  border-radius:8px;
}
ul {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  scroll-behavior: smooth;
  margin-top:-18;
}
 li {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: min(50vw, 350px);
  display: inline-block;
  text-align: center;
  background-color: #16171f;
  color: #9b9dad;
  padding-bottom: 1.5rem;
  font-size: clamp(18px, 2.5vw, 22px);
  box-shadow: -10px 0 30px 0 rgba(#000, 0.25);
  margin-left: -4px;
}

.shop-section {
display: flex;
flex-wrap:wrap;
justify-content: space-evenly;
background-color: #e2e7e6;
}
.box {
height: 450px;
width: 32%;
background-color: white;
padding: 20px 0px 15px;
margin-top: 15px;
margin-bottom:15px;
}
.box-img
{
height: 350px;
background-size: cover;
margin-top:1 rem;
margin-buttom:1 rem;
}
.box-content {
margin-left: 1rem;
margin-right: 1rem;
}


.outer-div-sign-in
{
width:100%;
height:100px;
display:flex;
border:0.5px solid black;
margin-top:15px;
align-items:center; 
justify-content:space-evenly;
}
.button-div{
width:100%;
height:30px;
}
.button-div p{
margin-left:20px;
}
.button {
background-color:#ffc200;
width:240px;
height:20px;
border:none;
align-items:center;
border-radius:4px;
}


.back-to-top{
width:100%;
height:50px;
background-color:#222f3d;
color:white;
display:flex;
align-items:center;
justify-content:center;
margin-top:10px;
}

.footer{
width:100%;
height:120px;
background-color:#222f3d ;
display:flex;
justify-content:space-evenly;
align-items:center;
}

.icon-1{
width:30px;
height:30px;
}

.icon-2{
width:30px;
height:30px;
}
.icon-3{
width:30px;
height:30px;
}
.icon-4{
width:30px;
height:30px;
}













